#container {
	background-color: lightgrey;
	width: 80%;
	margin: auto;
	padding: 0;
}
.nav li  a{
	background-color:darkblue;
	color:yellow;
}
.nav a:hover {
	color:red;
}
#navigation {
	font-family:ubuntu;
	width:auto;
	height:auto;
}
* {
	font-family:ubuntu;
}
.social {
	margin:auto;
	display:inline-block;
}
#footer {
	clear: both;
	padding: 10px 20px;
	margin:0;
	color: #BBB;
	font-size: 85%;
	font-weight: bold;
	background-color:#333;
	height:10%
}
#copy {
	margin:auto;
	height:auto;
	width: auto;
	float: right;
}
#float {
	float:right;
	margin-top:10%
}
#social {
	margin:auto;
	float: left;
	width: auto;
	height: auto;
}
#logo {
	display:inline-block;
	margin: left;
	width:30%;
	height:20%;
}
#banner {
	display:inline-block;
	float:middle;
	width:50%;
	height:20%;
}
#middle {
	margin-left:25%
}
.margin {
	margin-left:5%;
	margin-right:5%;
}
#content {
	height:auto;
	width:auto;
}
